
@section Styles{
    <link href="~/css/catalog.css" rel="stylesheet">
}


<div id="catContainer" class="catalog">
    <!-- display the list of cars -->
    
    
</div>

 
@section Scripts{
    <script src="~/js/catalog.js"></script>
}